<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="logo" src="./assets/images/logo.png" alt="COREhouse.png">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a href="{{ item.link }}" {% if page.url == item.link %} class="nav-link active-menu {{ item.class }}"
                    {% else %} class="nav-link {{ item.class }}" {% endif %}>

                    {{ item.name }}
                </a>
            </li>
            {% endfor %}


            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle language-change" href="#" id="language-selection" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
                        <img class="language" src="/assets/images/english.png" alt="English">
                        <span>English</span>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="en" href="#">
                        <img class="language" src="/assets/images/english.png" alt="English">
                        English
                    </a>
                    <a class="dropdown-item" id="fr" href="#">
                        <img class="language" src="/assets/images/french.png" alt="French">
                        French
                    </a>
                    <a class="dropdown-item" id="md" href="#">
                        <img class="language" src="/assets/images/madagascar.png" alt="Madagascar">
                        Madagascar
                    </a>

                </div>
            </li>
        </ul>

    </div>
</nav>

<script src="/assets/js/script.js"></script>